<!-- RL-2020-11-10  -->
<script>
  general_parms =
  {
    "tdr_parms" :
    {
      "username":           "^ESCAPE('Generic1')^",
      "userpassword":       "^ESCAPE('Gt345Ty34_df')^",
      "tdr_api":            "https://titanapi.minisisinc.com",
      "tdr_ui":             "https://titan.minisisinc.com",
      "login_endpoint":     "/token",
      "search_endpoint":    "/#/discover",
      "bookmark_endpoint":  "/api/Discover/BookmarkLinks",
      "delete_bookmark_ep": "/api/Discover/Bookmarks"
    }
  };
</script>

<script src="/mylang/assets/js/vendor/moment.min.js"></script>
<script src="/mylang/assets/js/dataentry/tooltips.js"></script>
<script src="/mylang/assets/js/dataentry/frontend.js"></script>
<script src="/mylang/assets/js/dataentry/core_record_handling.js"></script>
<script src="/mylang/assets/js/dataentry/core_interface_handling.js"></script>
<script src="/mylang/assets/js/dataentry/core_interaction_handling.js"></script>
<!-- KN 2021-01-27 from RL updates in m3dev -->
<!-- <script src="/mylang/assets/js/vendor/custom-alert.min.js"></script> -->