<div class="container">
  <div id="logo">
    <a href="/mylang/"><img src="/mylang/assets/img/m2a.png" alt="M2A Online"></a>
    <p>Cultural Assets Managment System</p>
  </div>

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <ul id="user_actions">
    <li><a class="user" title="User Profile"><i class="fa fa-user"></i> <span id="m2a_username">Username</span></a></li>
    <li><a class="help" title="Help"><i class="fa fa-question"></i> Help</a></li>
  </ul>
</div>