<nav id="database_selection">
  <ul>
    <li class="registration_root">
      <a href="^SESSID^/REGISTRATION_ROOT?OPEN&DBOPTION=SEARCH&CLEAR=Y">Acquisitions</a>
    </li> 
    <li class="collections">
      <a href="^HOME_SESSID^/COLLECTIONS?OPEN&DBOPTION=SEARCH&CLEAR=Y">Collections</a>
    </li>

    <li class="enquiries">
        <a href="^HOME_SESSID^/ENQUIRIES?OPEN&DBOPTION=SEARCH&CLEAR=Y">Enquiries</a>
    </li>

    <li class="loans">
      <a href="^HOME_SESSID^/LOAN_OUT?OPEN&DBOPTION=SEARCH&CLEAR=Y">Loan Out</a>
    </li>
   <li class="inloans">
        <a href="^SESSID^/LOAN?OPEN&DBOPTION=SEARCH&CLEAR=Y">Incoming Loan</a>
    </li>
    <li class="catalogue">
      <a href="^HOME_SESSID^/CATALOGUE?OPEN&DBOPTION=SEARCH&CLEAR=Y">Library</a>
    </li>
    <li class="project">
        <a href="^SESSID^/PROJECT_DB?OPEN&DBOPTION=SEARCH&CLEAR=Y">Projects</a>
    </li>
    <li class="incident">
        <a href="^SESSID^/JOB_INCIDENT?OPEN&DBOPTION=SEARCH&CLEAR=Y">Incidents</a>
    </li>


    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Authorities
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="people">
          <a href="^HOME_SESSID^/PEOPLE_VAL?OPEN&DBOPTION=SEARCH&CLEAR=Y">People</a>
        </li>
        <li class="organizations">
          <a href="^HOME_SESSID^/ORGANIZATION_VAL?OPEN&DBOPTION=SEARCH&CLEAR=Y">Organizations</a>
        </li>
        <li class="locations">
          <a href="^HOME_SESSID^/LOCATION_AUTHORITY?OPEN&DBOPTION=SEARCH&CLEAR=Y">Locations</a>
        </li>
        <li class="valuser">
            <a href="^HOME_SESSID^/VAL_USER?OPEN&DBOPTION=SEARCH&CLEAR=Y">Staff Names</a>
        <li class="sites">
          <a href="^HOME_SESSID^/GEOGRAPHIC_SITE?OPEN&DBOPTION=SEARCH&CLEAR=Y">Sites</a>
        </li>
        <li class="restrictions">
          <a href="^HOME_SESSID^/RESTRICTIONS?OPEN&DBOPTION=SEARCH&CLEAR=Y">Restrictions</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>