<script src="/144/assets/js/vendor/jquery-min.js"></script>
<script src="/144/assets/js/vendor/jquery-cookie.js"></script>
<script src="/144/assets/js/vendor/jquery-ui.min.js"></script>
<script src="/144/assets/js/vendor/jquery-tooltipster.min.js"></script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/vendor/jquery.caret.js"></script>
<script src="/144/assets/js/helpers.js"></script>
<script src="/144/assets/js/flash_messages.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/144/assets/js/vendor/print.min.js"></script>
<script src="/144/assets/js/vendor/dymo.LABEL.fRAMEWORK.3.0.js"></script>
<script>var SESS_ID = '^SESSID^';</script>   <!--  current session ID -->

<script src="/144/assets/customize/app_config.js"></script>