<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/144/assets/css/tree.css" />

<script src="/144/assets/js/vendor/jquery-min.js"></script>
<script src="/144/assets/js/vendor/jquery-cookie.js"></script>
<script src="/144/assets/js/vendor/jquery-ui.min.js"></script>
<script src="/144/assets/js/vendor/jquery-tooltipster.min.js"></script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/helpers.js"></script>
<script src="/144/assets/js/flash_messages.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/144/assets/js/vendor/print.min.js"></script>
<script src="/144/assets/js/vendor/dymo.LABEL.fRAMEWORK.3.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.9/jstree.min.js"></script>
<script>SESS_ID = '^SESSID^';</script>   <!--  current session ID -->

<!-- include virtual="/144/assets/html/template/app_config.html" -->