<script>
  site_params = {
    add_link : get_home_sessid() + '/EDUCATION?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y',
    global_change_link : get_home_sessid() + '?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5ceducation_gc.html&DATABASE=EDUCATION&DBOPTION=SEARCH',
    save_link : get_saverecord() + '&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : get_skiprecord() + '&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : get_home_sessid() + '/EDUCATION?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };

</script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script><!-- KN-2022-02-10 -->
<script src="/144/assets/js/frontend.js"></script>
<script src="/144/assets/js/vendor/axios.min.js"></script>
<!-- <script src="/144/assets/js/vendor/custom-alert.min.js"></script> -->