<nav id="database_actions">
  <ul>
    <li id="dba_new"><a href="^HOME_SESSID^/ENQUIRIES?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y&NAME1=ENQ_STATUS&VALUE1=Request&NAME2=ENQ_HANDLED_BY&VALUE2=%2b%2b2&NAME3=ENQ_DUE_DATE&VALUE3=%2b%2b1%2b14D&NAME4=E_METHOD_REQUEST&VALUE4=Web&RETURN_URL=^HOME_SESSID^?GET%26FILE=[CAMS_APP]/144/assets%5chtml%5ctemplate%5cclose_form.html" title="Create New Record"><i class="fa fa-file-o"></i></a></li>
    <li id="dba_delete"><a href="#" title="Delete Record" class="disabled"><i class="fa fa-trash-o"></i></a></li>
    <li id="dba_save"><a data-form-action="" href="#" title="Save Record" class="disabled"><i class="fa fa-floppy-o"></i></a></li>
    <li id="dba_cancel"><a href="#" title="Cancel Edits" class="disabled"><i class="fa fa-ban"></i></a></li>
    <li id="dba_search"><a href="^HOME_SESSID^/ENQUIRIES?OPEN&DBOPTION=SEARCH&CLEAR=Y" title="Back to Search"><i class="fa fa-search"></i></a></li>
    <li id="dba_edit"><a href="#" title="Edit Record" class="disabled"><i class="fa fa-edit"></i></a></li>
    <li id="dba_copy"><a href="#" title="Copy Record" class="disabled"><i class="fa fa-copy"></i></a></li>
    <li id="dba_reports"><a href="#" title="Reports" class="disabled"><i class="fa fa-newspaper-o"></i></a></li>
    <li id="dba_print"><a href="#" title="Print"><i class="fa fa-print"></i></a></li>
    <li id="dba_global_change"><a href="^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5cenq_gc.html&DATABASE=ENQUIRIES&DBOPTION=SEARCH" title="Perform Global Change"><i class="fa fa-globe"></i></a></li>
  </ul>
  <hr>
</nav>