<script>
  site_params = {
    add_link : get_home_sessid() + '/LOCATION_AUTHORITY?OPEN&DBOPTION=ADD',
    global_change_link : get_home_sessid() + '?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5clocations_gc.html&DATABASE=LOCATION_AUTHORITY&DBOPTION=SEARCH',
    save_link : get_saverecord() + '&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : get_skiprecord()  + '&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : get_home_sessid() + '/LOCATION_AUTHORITY?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>

<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script>
<script src="/144/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- RL-2020-09-29 -->
<!-- <script src="/144/assets/js/vendor/custom-alert.min.js"></script> -->