<script>
  site_params = {
    add_link : '^SESSID^/BRANCH?OPEN&DBOPTION=ADD',
    global_change_link : '^SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5cbranch_gc.html&DATABASE=BRANCH&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^SESSID^/BRANCH?OPEN&DBOPTION=SEARCH&CLEAR=Y',
    'reports' : {
                  'XXX'    : { 'query': '[CAMS_APP]/mylang/search\\people_peop_brief.html',    'report': 'PERSON_BRIEF_XML' },
                  'XXX1'   : { 'query': '[CAMS_APP]/mylang/search\\people_peop_full.html',     'report': 'PERSON_FULL_XML' }
                }
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/js/frontend_util.js"></script>
<script src="/mylang/assets/js/frontend.js"></script>