<script>
  site_params = {
    add_link : '^HOME_SESSID^/COLLECTIONS?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5ccol_gc.html&DATABASE=COLLECTIONS&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fCLOSE_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fCLOSE_FORM.HTML',
    search_link : '^HOME_SESSID^/COLLECTIONS?OPEN&DBOPTION=SEARCH&CLEAR=Y',
    'reports' : {
                  'plan_move'  : { 'query': '[CAMS_APP]/mylang/search\\collections_plan_move.html',  'report': '' },
                  'multi_move' : { 'query': '[CAMS_APP]/mylang/search\\collections_multi_move.html', 'report': '' },
                  'acc_reg'    : { 'query': '[CAMS_APP]/mylang/search\\collections_acc_reg.html',    'report': 'ACCESSION_REGISTER_XML' },
                  'obj_sum'    : { 'query': '[CAMS_APP]/mylang/search\\collections_obj_sum.html',    'report': 'COLLECTIONS_BRIEF_XML' },
                  'obj_det'    : { 'query': '[CAMS_APP]/mylang/search\\collections_obj_det.html',    'report': 'COLLECTIONS_FULL_XML'},
                  'obj_con'    : { 'query': '[CAMS_APP]/mylang/search\\collections_obj_con.html',    'report': 'CONSERVATION_OBJ_XML'},
                  'obj_conh'   : { 'query': '[CAMS_APP]/mylang/search\\collections_obj_conh.html',   'report': 'CONSERVATION_HISTORY_XML'},
                  'obj_exh'    : { 'query': '[CAMS_APP]/mylang/search\\collections_obj_exh.html',    'report': 'EXH_HISTORY_XML'},
                  'obj_lab'    : { 'query': '[CAMS_APP]/mylang/search\\collections_obj_lab.html',    'report': 'SH_LABEL_XML'}
          }
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/js/frontend_util.js"></script>
<script src="/mylang/assets/js/frontend.js"></script>
<!-- <script src="/mylang/assets/js/vendor/custom-alert.min.js"></script> -->
