<script>
  site_params = {
    add_link : '^HOME_SESSID^/COLLECTION_CODE_LIST?OPEN&DBOPTION=ADD',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5ccollection_code_gc.html&DATABASE=COLLECTION_CODE_LIST&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^HOME_SESSID^/COLLECTION_CODE_LIST?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/js/frontend_util.js"></script>
<script src="/mylang/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>