<nav id="database_actions">
  <ul>
    <li id="dba_new"><a href="^SESSID^/CONTAINER?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y" title="Create New Record"><i class="fa fa-file-o"></i></a></li>
    <li id="dba_delete"><a href="#" title="Delete Record" class="disabled"><i class="fa fa-trash-o"></i></a></li>
    <li id="dba_save"><a data-form-action="" href="#" title="Save Record" class="disabled"><i class="fa fa-floppy-o"></i></a></li>
    <li id="dba_cancel"><a href="#" title="Cancel Edits" class="disabled"><i class="fa fa-ban"></i></a></li>
    <li id="dba_search"><a href="^SESSID^/CONTAINER?OPEN&DBOPTION=SEARCH&CLEAR=Y" title="Back to Search"><i class="fa fa-search"></i></a></li>
    <li id="dba_edit"><a href="#" title="Edit Record" class="disabled"><i class="fa fa-edit"></i></a></li>
    <li id="dba_copy"><a href="#" title="Copy Record" class="disabled"><i class="fa fa-copy"></i></a></li>
    <!-- KN-2021-01-26 -->
    <li id="dba_reports"  class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Reports"><i class="fa fa-newspaper-o"></i><b class="caret"></b></a>
    <ul class="dropdown-menu" style="background: white">
        <li>
          <a href="#" class="db_report" id="report_id">to be added</a>
        </li>
    </ul>
    </li>
    <li id="dba_print"><a href="#" title="Print"><i class="fa fa-print"></i></a></li>
    <li id="dba_global_change"><a href="^SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5cacc_gc.html&DATABASE=CONTAINER&DBOPTION=SEARCH" title="Perform Global Change"><i class="fa fa-globe"></i></a></li>
  </ul>
  <hr>
</nav>