<script>
  site_params = {
    add_link : '^HOME_SESSID^/ENQUIRIES?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y&NAME1=ENQ_STATUS&VALUE1=Request&NAME2=ENQ_HANDLED_BY&VALUE2=%2b%2b2&NAME3=ENQ_DUE_DATE&VALUE3=%2b%2b1%2b14D&NAME4=E_METHOD_REQUEST&VALUE4=Web&RETURN_URL=^HOME_SESSID^?GET%26FILE=[CAMS_APP]/mylang/assets%5chtml%5ctemplate%5cclose_form.html',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5cservicedesk_gc.html&DATABASE=ENQUIRIES&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^HOME_SESSID^/ENQUIRIES?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/html/template/db/app_data.js"></script>  <!-- RL-2021-05-31 -->
<script src="/mylang/assets/js/frontend_util.js"></script>    <!-- RL-2021-03-08 -->
<script src="/mylang/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>