<script>
  site_params = {
    add_link : '^SESSID^/ASSOC_EVENT?OPEN&DBOPTION=ADD',
    global_change_link : '^SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5cevents_gc.html&DATABASE=ASSOC_EVENT&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&RETURN_URL=^RETURN_URL^&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&RETURN_URL=^RETURN_URL^',
    search_link : '^SESSID^/ASSOC_EVENT?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/js/frontend_util.js"></script>
<script src="/mylang/assets/js/frontend.js"></script>