<script>
  site_params = {
    add_link : '^HOME_SESSID^/LOAN_OUT?OPEN&DBOPTION=ADD',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5cloans_gc.html&DATABASE=LOAN_OUT&DBOPTION=SEARCH',
    // rl-2020-09-29 from M3 Dev changes
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y&BOTHPROCESSING=[M2A_SCRIPT]CHECK_LOAN_ITEM_GROUP.PAR',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^HOME_SESSID^/LOAN_OUT?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/js/frontend_util.js"></script>
<script src="/mylang/assets/js/frontend.js"></script>
