<script>
  site_params = {
    add_link : '^SESSID^/MINISTRY?OPEN&DBOPTION=ADD',
    global_change_link : '^SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5cministry_gc.html&DATABASE=MINISTRY&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^SESSID^/MINISTRY?OPEN&DBOPTION=SEARCH&CLEAR=Y',
    'reports' : {
                }
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/js/frontend_util.js"></script>
<script src="/mylang/assets/js/frontend.js"></script>
