<script>
  site_params = {
    add_link : '^HOME_SESSID^/SERVICEDESK?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y&NAME1=REQ_STATUS&VALUE1=Prepare&NAME2=REQ_TIME_UNITS&VALUE2=14&NAME3=METHOD_REQUEST&VALUE3=Web',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/mylang/search%5cservicedesk_gc.html&DATABASE=SERVICEDESK&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/mylang/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^HOME_SESSID^/SERVICEDESK?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/mylang/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/mylang/assets/html/template/db/app_data.js"></script>  <!-- RL-2021-05-31 -->
<script src="/mylang/assets/js/frontend_util.js"></script>    <!-- RL-2021-03-08 -->
<script src="/mylang/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>