
Dear {4}

Thank you for contacting the Archives of Ontario.

Your records from order(s) {9} are ready for viewing in the Reading Room. Note: This information is required for booking.

The Reading Room is open by appointment only. Appointments are booked at least 3 days in advance of your planned visit. Hours of service are Monday - Friday, 8:30am - 5:00pm. The Reading Room will close from 12:00pm - 1:00pm for cleaning of the workstations and microfilm readers between appointments.
Click the following link to book your appointment online now!.
 
http://www.archives.gov.on.ca/en/public/book_archives_ontario_services.aspx

Thank-you!
Sincerely,
Archives of Ontario
