<script>
  var v_sessid = "^SESSID^";
  var v_home_sessid = "^HOME_SESSID^";
  var v_parm1 = "^PARM1^";
  var v_parm2 = "^PARM2^";
  var v_parm3 = "^PARM3^"; 
  var v_saverecord = "^SAVE_N_STOP_RECORD^";
  var v_skiprecord = "^SKIP_N_STOP_RECORD^";
  var v_return_url = "^RETURN_URL^";

  // function to return currente session ID
  function get_sessid() {return v_sessid;}
  // function to return home session ID
  function get_home_sessid() {return v_home_sessid;}
  // function to return parameter 1
  function get_parm1() {return v_parm1;}
  // function to return parameter 2RM2^
  function get_parm2() {return v_parm2;}
  // function to return parameter 3
  function get_parm3() {return v_parm3;}
  // function to return save record
  function get_saverecord() {return v_saverecord;}
  // function to return skip record
  function get_skiprecord() {return v_skiprecord;}
  // function to return 'reutrnl' url
  function get_return_url() {return v_return_url;}
</script>
  