<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="mwimain" path="*.dll" verb="*" modules="IsapiModule" scriptProcessor="C:\minisis\CAMS\APP\scripts\MWIMain.dll" resourceType="File" preCondition="bitness32,winx86_64" />
        </handlers>
    </system.webServer>
</configuration>
