<script>
  site_params = {
    add_link : '^HOME_SESSID^/CLIENT_VALTAB?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5cres_gc.html&DATABASE=CLIENT_VALTAB&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&RETURN_URL=^RETURN_URL^&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&RETURN_URL=^RETURN_URL^',
    search_link : '^HOME_SESSID^/CLIENT_VALTAB?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script>
<script src="/144/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>