<nav id="database_actions">
  <ul>
    <li id="dba_new"><a href="^SESSID^/PUBLIC_BODY_REQUEST?OPEN&DBOPTION=ADD" title="Create New Record"><i class="fa fa-file-o"></i></a></li>
    <li id="dba_search"><a href="^SESSID^/PUBLIC_BODY_REQUEST?OPEN&DBOPTION=SEARCH&CLEAR=Y" title="Back to Search"><i class="fa fa-search"></i></a></li>
    <li id="dba_delete"><a href="#" title="Delete Record" class="disabled"><i class="fa fa-trash-o"></i></a></li>
    <li id="dba_save"><a data-form-action="" href="#" title="Save Record" class="disabled"><i class="fa fa-floppy-o"></i></a></li>
    <li id="dba_cancel"><a href="#" title="Cancel Edits" class="disabled"><i class="fa fa-ban"></i></a></li>
    <li id="dba_reports"  class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Reports"><i class="fa fa-newspaper-o"></i><b class="caret"></b></a>
      <ul class="dropdown-menu" style="background: white">
          <li>
            <a href="#" class="db_report" id="acc_bri">To be added</a>
          </li>
      </ul>
    </li>
  </ul>
  <hr>
</nav>