<script>
  // kn-2021-01-226 - save_link changed; add "reports"
  site_params = {
    add_link : '^SESSID^/PEOPLE_VAL?OPEN&DBOPTION=ADD',
    global_change_link : '^SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5cpeople_gc.html&DATABASE=PEOPLE_VAL&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^SESSID^/PEOPLE_VAL?OPEN&DBOPTION=SEARCH&CLEAR=Y',
    'reports' : {
                  'peop_brief'    : { 'query': '[CAMS_APP]/144/search\\people_peop_brief.html',    'report': 'PERSON_BRIEF_XML' },
                  'peop_full'     : { 'query': '[CAMS_APP]/144/search\\people_peop_full.html',     'report': 'PERSON_FULL_XML' }
                }
  };
</script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script>
<script src="/144/assets/js/frontend.js"></script>