<script>
  site_params = {
    add_link : '^HOME_SESSID^/PROJECT_DB?OPEN&DBOPTION=ADD&RECORD_DEFAULT=Y',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5cproject_gc.html&DATABASE=PROJECT_DB&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^HOME_SESSID^/PROJECT_DB?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script>
<script src="/144/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>