<script>
  site_params = {
    add_link : '^HOME_SESSID^/REQUEST_INFO_UPDATE?OPEN&DBOPTION=ADD',
    global_change_link : '^HOME_SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5clocations_gc.html&DATABASE=REQUEST_INFO_UPDATE&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[cams_app]144/index.html&DISCONNECT=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[cams_app]144/index.html&DISCONNECT=Y',
    search_link : '^HOME_SESSID^/REQUEST_INFO_UPDATE?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>

<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script>
<script src="/144/assets/js/frontend.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- RL-2020-09-29 -->
<!-- <script src="/144/assets/js/vendor/custom-alert.min.js"></script> -->