<script>
  site_params = {
    add_link : '^SESSID^/VAL_USER?OPEN&DBOPTION=ADD',
    global_change_link : '^SESSID^?QUERYFORM&SEARCHFORM=[CAMS_APP]/144/search%5cval_user_gc.html&DATABASE=VAL_USER&DBOPTION=SEARCH',
    save_link : '^SAVE_N_STOP_RECORD^&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML&DISCONNECT=N&CLOSE=Y',
    skip_link : '^SKIP_N_STOP_RECORD^&FILE=[CAMS_APP]/144/ASSETS%2fHTML%2fTEMPLATE%2fQUERY_FORM.HTML',
    search_link : '^SESSID^/VAL_USER?OPEN&DBOPTION=SEARCH&CLEAR=Y'
  };
</script>
<script src="/144/assets/js/vendor/jquery.colorbox-min.js"></script>
<script src="/144/assets/js/frontend_util.js"></script>    <!-- KN 2022-03-10 -->
<script src="/144/assets/js/frontend.js"></script>
